<div id="<%= dom_id(discussion) %>" class="mb-2">
	<h2><%= discussion.name %></h2>
	Pinned: <%= discussion.pinned %> | Closed: <%= discussion.closed %>
	<div class="d-flex justify-content-start align-items-center">
		<%= button_to 'Edit', edit_discussion_path(discussion), class: 'btn btn-default btn-sm btn-outline-primary' %>
		<%= button_to('Delete', discussion, method: :delete, class: 'btn btn-default btn-sm btn-outline-danger', form: { data: { 'turbo-confirm': 'Are you sure?' } })  %>
	</div>
</div>
